body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background: radial-gradient(71.11% 100% at 50% 0%, #020204 14.6%, #011F35 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

@font-face {
  font-family: 'Rubik';
  src: url('@/assets/fonts/rubik/Rubik-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900; /* deckt 100–900 ab */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  src: url('@/assets/fonts/rubik/Rubik-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}